
<!DOCTYPE html>
<html>

<head>
  <title>VOTEAUS</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="ui top violet fixed inverted menu">
  <div class="item">
    <h2><i class="bullhorn icon"></i><%=link_to 'VOTEAUS', root_path %></h2>
  </div>
  <div class="item right floated">
    <h3> Make your vote heard!</h3>
  </div>
</div>

<div class="ui container main">
  <%= yield %>
</div>

</body>
</html>
